
body {
  padding: 50px;
  /* overflow: hidden; */
}

h1, h2, h3 {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
.title {
  font-size: 3.5em;
}
.sub-title {
  padding: 50px 0 0 10px;
}
.welcome {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./containers/code.jpg");
}
.welcome-message {
  z-index: 2;
  background-color: white;
  opacity: 0.9;
  position: fixed;
  top: 50%;
  left: 50%;
  width:20em;
  height:20em;
  margin-left: -10em;
  margin-top: -10em;
  box-shadow: 2px 14px 18px 3px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./components/laptop.jpg");
}
.profile-pic {
  width: 200px;
  border: 15px solid white;
  border-radius: 50%;
  /* float: right; */
  margin: 20px;
}
.profile-info {
  width: 40%;
  height: 40%;
  opacity: 0.95;
  position: absolute;
  margin: 50px auto;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  display: inline-block;
}
.topic-list {
  width: 30%;
  margin: 0 auto;
}
.topic-item {
  font-size: 3rem;
}
.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
}
.row {
  width: 500px;
  height: 80px;
}
input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.deleted {
  visibility: hidden;
}
.App {
  text-align: center;
}
.question-button, .answer-btn {
  float: right;
  margin: 3px;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.4);
}
.clear {
  border: 0;
  color: black;
}
.capitalise::first-letter {
  text-transform: uppercase;
}
.my-modal {
  visibility: hidden;
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 2px 14px 18px 3px rgba(0,0,0,0.4);
}
.success-message {
  position: absolute;
  top: 0;
  z-index: 3;
  background: white;
  opacity: 0.9;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}
.failure-message {
  text-align: center;
  margin-top: 35%;
}
.doggy-image {
  width: 100%;
  height: 100%;
}
.delete-gif {
  position: absolute;
  left: 90%;
  z-index: 3;
  background-color: white;
  color: black;
  margin: 20px 10px;
  line-height: 60%;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 50px;
}
.mult-choice-form {
  margin-bottom: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 .boxes, .drag-drop-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-boxes, .drag-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.qq-btn, .aa-btn {
  width: 200px;
  margin: 0 5px 0 5px;
  height: 70px;
  box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.4);
}

.all-qq {
  list-style: none;
}

.added-qq {
  font-size: 25px;
  padding: 15px;
  border-bottom: 2px solid #F8F8F8;
  transition: all 0.3s ease-in;
}
.added-qq:hover {
  background-color: lightgray;
}
.delete-all-btn {
  width: 150px;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}
